<div class="event d-flex flex-column w-100 h-100">
  <div class="event-img position-relative">
    <i class="pi pi-arrow-left"></i>
  </div>
  <div class="event-info ms-4 me-4 rounded-top p-3 d-flex flex-column option-gap position-absolute">
    <div class="event-title fs-3 fw-bold">Bike Fest 2024 End Meet</div>
    <div class="event-time d-flex gap-10 text-color align-items-center"><mat-icon>calendar_today</mat-icon> March 15, 2025 9:00PM </div>
    <div class="event-location d-flex align-items-top gap-10">
      <mat-icon>location_on</mat-icon>
      <div>
        <div class="fw-bold">Convention Center</div>
        <div class="text-color-dark">1234 jack street, Kota, 201014</div>
      </div>
    </div>
    <div class="event-details rounded p-2 d-flex flex-column gap-10">
      <div class="fw-bold fs-6">Event Details</div>
      <div class="text-color-dark">
        Arrival at Location 10AM
        Event Start At 11AM
        Special Appearance at 2PM
        Dirt Rally 4PM
      </div>
    </div>
      <div class="organizer-info d-flex flex-column gap-10">
      <div class="acc-info d-flex gap-10">
        <img class="acc-img rounded-circle" src="/assets/Images/default_profile.jpg" alt="">
        <div
          class="acc-name d-flex flex-column justify-content-between pt-1 pb-2"
        >
          <div class="fw-medium fs-6">RidersUnitedDelhi</div>
          <div class="fw-medium fs-6 text-color">Organizer</div>
        </div>
      </div>
      <div class="acc-info d-flex gap-10">
        <img class="acc-img rounded-circle" src="/assets/Images/default_profile.jpg" alt="">
        <div
          class="acc-name d-flex flex-column justify-content-between pt-1 pb-2"
        >
          <div class="fw-medium fs-6">Alex Jhonson</div>
          <div class="fw-medium fs-6 text-color">Head</div>
        </div>
      </div>        
    <div class="event-options d-flex option-gap flex-column">
      <button class="btn btn-primary fw-medium fs-5 p-2 rounded-4">
        Join Event
      </button>
      <button class="btn btn-light fw-medium fs-5 rounded-4">Share  <i class="pi pi-share-alt ps-1"></i></button>
    </div>   
    </div>
  </div>
  
</div>
