.search-rides{
    mat-icon{
        position: absolute;        
    }
    input{
        background-color: #f1f3f4;
        color: #b6b4be;
    }
}
.add-ride{
    background-color: #ff272a;
    color: #fff;
    width: fit-content;
    height: fit-content;
    font-size: xx-large;
    position: absolute;
    bottom: 0;
    right: 0;
}
.page-head{background-color: #fff;}