<div class="d-flex flex-column option-gap container">
    <i class="pi pi-arrow-left"></i>
    <div class="community-head fw-medium">Community Groups</div>
    <div class="search-rides d-flex align-items-center position-relative"><mat-icon class="ms-1 text-color-dark">search</mat-icon><input type="text" class="fw-medium fs-5 rounded-pill text-color-dark form-control ps-5 p-2" placeholder="Search Communities"></div>
<div class="community-option d-flex gap-10">
    <div class="option w-50 primary-color rounded-4 fw-bold container p-3">
        <mat-icon>add</mat-icon>
        <div>Create Community</div>
    </div>
    <div class="option w-50 primary-color rounded-4 fw-bold container p-3">
        <mat-icon>groups</mat-icon>
        <div>Join Community</div>
    </div>
</div>
<div class="fw-medium fs-3 d-flex align-items-center justify-content-between">My Community <mat-icon class="text-color-dark">expand_more</mat-icon></div>
<div class="fw-medium fs-3 d-flex align-items-center justify-content-between">Communities <mat-icon class="text-color-dark">expand_more</mat-icon></div>
<div class="fw-medium fs-3 d-flex align-items-center justify-content-between">Community Posts</div> 
</div>
<app-post-card></app-post-card>
<app-post-card></app-post-card>
<app-post-card></app-post-card>   