<div class="d-flex flex-column option-gap container">
  <i class="pi pi-arrow-left"></i>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="profile-head fw-medium">Registration</div>
    <button class="btn btn-outline-primary rounded-pill d-flex align-items-center">skip</button>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <img class="profile-img rounded-circle" src="/assets/Images/default_profile.jpg" alt="">
  </div>
  <form [formGroup]="signInForm" class="d-flex flex-column option-gap">
    <div class="d-flex flex-column gap-10">
      <div class="fw-normal fs-5">Name</div>
      <input type="text" formControlName="name" class="form-control" placeholder="jhon Smith" />
      <div class="text-danger" *ngIf="signInForm.get('name')?.touched && signInForm.get('name')?.hasError('required')">*name is required</div>
    </div>
    <div class="d-flex flex-column gap-10">
      <div class="fw-normal fs-5">Username</div>
      <input type="email" formControlName="userName" class="form-control" placeholder="ShivamRU1" />
      <div class="text-danger" *ngIf="signInForm.get('userName')?.touched && signInForm.get('userName')?.hasError('required')">*username is required</div>
    </div>
    <div class="d-flex flex-column gap-10">
      <div class="fw-normal fs-5">Email</div>
      <input type="email" formControlName="email" class="form-control" placeholder="jhon@email.com" />
      <div class="text-danger" *ngIf="signInForm.get('email')?.touched && signInForm.get('email')?.hasError('email')">*enter a valid email</div>
      <div class="text-danger" *ngIf="signInForm.get('email')?.touched && signInForm.get('email')?.hasError('required')">*enter is required</div>
    </div>
    <div class="d-flex flex-column gap-10">
      <div class="fw-normal fs-5">Phone</div>
      <input type="" formControlName="phone" class="form-control" placeholder="0987654321 (optional)" />
    </div>
    <div class="d-flex flex-column gap-10">
        <div class="fw-normal fs-5">Password</div>
        <div class="input-wrapper d-flex align-items-center position-relative">
          <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" class="form-control" placeholder="enter password" />
          <mat-icon class="position-absolute show-password" *ngIf="!passwordVisible" (click)="passwordVisible = true">remove_red_eye</mat-icon>
          <mat-icon class="position-absolute show-password" *ngIf="passwordVisible" (click)="passwordVisible = false">visibility_off</mat-icon>
        </div>
        <div *ngIf="signInForm.get('password')!.touched || signInForm.get('password')!.value">
          <div *ngIf="signInForm.get('password')?.touched || signInForm.get('password')!.value.length < 8" [ngClass]="signInForm.get('password')!.value.length < 8 ? 'text-danger' : 'text-success'">
            *contains at least 8 characters.
          </div>
          <div *ngIf="((!passwordValidator() || signInForm.get('password')?.touched) || (signInForm.get('password')?.touched) && passwordValidator())" [ngClass]="!passwordValidator()? 'text-danger' : 'text-success'">
            *contains at least one uppercase or a special character (@, *, %).
          </div>
        </div>
      </div>
    <div class="d-flex flex-column gap-10">
      <div class="fw-normal fs-5">Confirm Password</div>
      <input type="text" formControlName="confirmPassword" class="form-control" placeholder="confirm password" />
      <div class="text-danger" *ngIf="signInForm.get('confirmPassword')?.touched && (signInForm.get('password')?.value != signInForm.get('confirmPassword')?.value)">*passwords doesn't match</div>
    </div>
  </form>
    <button class="btn btn-primary fw-medium fs-6 w-100 p-2 rounded-2" (click)="signIn()">
      Sign Up
    </button> 
    <div class="text-color  d-flex justify-content-center">Already have and account? <div class="text-color-dark border-bottom border-black"  routerLink="/auth/login">Login Here</div></div>
</div>
