.publish-info{
    .acc-img{
        min-height: 50px;
        min-width: 50px;
        max-height: 50px;
        max-width: 50px;
        background-color: #f8a4a5;
    }
}
.post-open{
    .post-img{
        min-width: 100%;
        min-height: 200px;
        max-width: 100%;
        max-height: 200px;
        background-color: rgb(47, 224, 255);
    }
}
.post-close{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    .post-img{
        min-width: 130px;
        min-height: 100px;
        max-width: 130px;
        max-height: 100px;
        background-color: rgb(47, 224, 255);
        border-radius: 20px;
    }
}
.post-card{
    background-color: #fff;
}