<div class="community-head d-flex flex-column gap-10">
    <div class="community-poster">

        <div class="community-info d-flex align-items-center gap-10  container">
            <img  class="community-img rounded-circle" src="/assets/Images/default_profile.jpg" alt="">

            <div class="community-title h-100 d-flex flex-column justify-content-end">
                <div class="fw-medium fs-5">/RidersUnited</div>
                <div class="text-color">1.6k members</div>
            </div>
        </div>
    </div>
    <div class="community-options d-flex align-items-center gap-10 mt-5  container">
        <button class="btn btn-light d-flex align-items-center rounded-pill border-secondary"><mat-icon>add</mat-icon>Create Post</button>
        <button class="btn btn-warning rounded-pill">Join</button>
    </div>
    <div class="community-content d-flex gap-10 align-items-center  container">
        <span class="rounded-pill p-2 fw-medium">Feed</span> <span class="rounded-pill p-2 fw-medium">About</span>
    </div>
</div>
<app-post-card [postClose]="true"></app-post-card>
<app-post-card [postClose]="true"></app-post-card>
<app-post-card [postClose]="true"></app-post-card>
<app-post-card [postClose]="true"></app-post-card>