<div class="d-flex flex-column option-gap container">
    <i class="pi pi-arrow-left"></i>
  <div class="ride-title fw-medium fs-1">City Night Ride</div>
  <div class="ride-map mt-2 mb-2 rounded-4"><img class="rounded-4" src="/assets/Images/map.png" alt=""></div>
  <div class="ride-details d-flex flex-column option-gap">
    <div class="fw-medium fs-3">Ride Details</div>
    <div class="d-flex flex-column gap-10">
        <div class="fw-medium fs-6">Date & Time</div>
        <div class="text-color fs-6">Saturday, 10AM</div>
    </div>
    <div class="d-flex flex-column gap-10">
        <div class="fw-medium fs-6">Meeting Point</div>
        <div class="text-color fs-6">DLF parking</div>
    </div>
    <div class="d-flex flex-column gap-10">
        <div class="fw-medium fs-6">Duration</div>
        <div class="text-color fs-6">4hrs</div>
    </div>
    <div class="d-flex flex-column gap-10">
        <div class="fw-medium fs-6">Required Gears</div>
        <div class="text-color fs-6">Bring these riding gears with your for the ride Helmet, Gloves, Jacket</div>
    </div>
    <div class="d-flex flex-column gap-10">
        <div class="fw-medium fs-6">Additional Notes</div>
        <div class="ride-notes text-color-dark fs-6 p-2 rounded-4">Be on time don't be late we will be leaving from the starting point on time</div>
    </div>
  </div>
  <div class="event-options d-flex option-gap">
    <button class="btn btn-primary fw-medium fs-5 w-50 p-2 rounded-4">
      Join Ride
    </button>
    <button class="btn btn-light fw-medium fs-5 w-50 rounded-4 d-flex align-items-center justify-content-center">Share <i class="pi pi-share-alt ps-1"></i></button>
  </div>
  <div class="organizer-info d-flex flex-column gap-10">
    <div class="acc-info d-flex gap-10">
      <img class="acc-img rounded-circle" src="/assets/Images/default_female.jpg" alt="">
      <div
        class="acc-name d-flex flex-column justify-content-between pt-1 pb-2"
      >
        <div class="fw-medium fs-6">Jiya Singh</div>
        <div class="fw-medium fs-6 text-color">Organizer</div>
      </div>
    </div>
  </div>
  <div class="fw-medium fs-4">Participants</div>
  <div class="participants d-flex gap-10">
    <div class="participant-info text-center">
      <img class="acc-img rounded-circle" src="/assets/Images/default_profile.jpg" alt="">
      <div class="fw-medium fs-6">Shivam</div>
    </div>
  </div>
</div>
