<!-- <div class="ride-card d-flex gap-10 mt-3 align-items-center rounded-4">
    <div class="ride-img rounded-4">

    </div>
    <div class="ride-info d-flex flex-column option-gap p-1">
        <div class="fw-medium fs-5">
            City Night Ride
        </div>
        <div class="text-color fs-5">
            20 riders joined
        </div>
    </div>
    <div>
        <mat-icon class="text-color-dark">arrow_forward</mat-icon>
    </div>
</div> -->
<div class="ride-card border d-flex flex-column gap-10 p-3 rounded-4">
    <div class="ride-title fw-bold fs-4">City Night Ride</div>
    <div class="d-flex gap-10 text-color-dark"><mat-icon>access_time</mat-icon> Wed 15, Dec</div>
    <div class="d-flex gap-10 text-color-dark"><mat-icon>location_on</mat-icon>City Center,Noida</div>
    <div class="profile-stack ps-3">
        <img src="/assets/Images/default_female.jpg" alt="User 1" class="profile-image u-1">
        <img src="/assets/Images/default_profile.jpg" alt="User 2" class="profile-image u-2">
        <img src="/assets/Images/default_female.jpg" alt="User 3" class="profile-image u-3">
        <img src="/assets/Images/default_profile.jpg" alt="User 4" class="profile-image u-4">
      </div>
      
    <div class="ride-options d-flex justify-content-between">
        <button class="btn btn-primary w-50 rounded-3">Join Ride</button>
        <button class="btn btn-light w-50 rounded-3">View Details</button>
    </div>
</div>