<div class="event-card d-flex flex-column gap-10">
    <div class="event-img rounded position-relative">
        <div class="position-absolute w-100 p-1 text-center rounded-bottom">
            Wed, 31 July
        </div>
    </div>
    <div class="event-info">
        <!-- <div class="event-date rounded text-center p-1">
            Wed, 31 July
        </div> -->
        <div class="event-date rounded event-title fw-medium p-1">
            Biker Fest 2024 End meet
        </div>
        <div class="event-location text-color-dark fw-medium p-1 text-truncate">
            Dwarka Expressway
        </div>
    </div>
</div>